{% extends 'base.html.twig' %}
{% block title %}Create new Group{% endblock %}
{% block body %} 
{{ form_start(form) }}

{{ form_widget(form) }}
<select class="form-control" name="user_id">
  <option>Select user</option>
  {% for user in users %}
  <option value="{{ user.id }}">{{user.name}}</option>
  {% endfor %}
   </select>
{{ form_end(form) }}
{% endblock %}