{% extends 'base.html.twig' %}
{% block title %}Create new Group{% endblock %}
{% block body %} 
<div style="max-width:600px">
{{ form_start(form) }}

{{ form_widget(form) }}
<div style="margin:5px 0">
{# <select class="form-control" name="users[user][]" multiple>
  <option disabled selected>Select user</option>
  {% for user in users %}
  <option value="{{ user.id }}">{{user.name}}</option>
  {% endfor %}
   </select> #}
   </div>
   <button type="submit" class="btn btn-secondary">Create</button>
{{ form_end(form) }}
</div>
{% endblock %}