{% extends 'base.html.twig' %}
{% block title %}Create new User{% endblock %}
{% block body %} 
{{ form_start(form) }}

{{ form_widget(form) }}
<select class="form-control" id="exampleSelect2" name="groups[group][]" multiple>
  <option>Select group</option>
  {% for group in groups %}
  <option  value="{{ group.id }}">{{group.title}}</option>
  {% endfor %}
   </select>
{{ form_end(form) }}
{% endblock %}